doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Content-Style-Type" content="text/css")
    title Christmas Campagin
    link(rel="stylesheet" type="text/css" href="common/css/main.css" media="all")
  body
    #wrapper
      #header
        .content-inner
          #logo
          #campaign-name
            img#campaign-title(src="common/img/campaign-title.png")
      #contents
        .content-inner.card-page
          ul#list-card
            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")
            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

            li
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                a(href="javascript:void(0)")
                    img(src="common/img/bg-02.png")

          p.next-function
            a#btn-next(href="#") Hoàn thành
      #footer
        .content-inner
    script(type='text/javascript' src="common/js/jquery-2.2.1.min.js")
    script(type='text/javascript' src="common/js/jquery.jquery-ui.js")
    script(type='text/javascript' src="common/js/common.js")
    script(type='text/javascript').