doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Content-Style-Type" content="text/css")
    title Christmas Campagin
    link(rel="stylesheet" type="text/css" href="common/css/main.css" media="all")
  body
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    #wrapper
      #header
        .content-inner
          #logo
          #campaign-name
            img#campaign-title(src="common/img/campaign-title.png")
      #contents
        .content-inner.card-page
          #make-card
            #detail-card

            #info-card
                div.info-point
                    a(href="javascript:void(0)").org-point 300
                    a(href="javascript:void(0)").like-point 200
                    a(href="javascript:void(0)").comment-point 200
                    .fb-comments(data-href='https://developers.facebook.com/docs/plugins/comments#configurator', data-numposts='5')

          p.next-function
            a#btn-next(href="#") Hoàn thành
      #footer
        .content-inner
    script(type='text/javascript' src="common/js/jquery-2.2.1.min.js")
    script(type='text/javascript' src="common/js/jquery.jquery-ui.js")
    script(type='text/javascript' src="common/js/common.js")
    script(type='text/javascript').