doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Content-Style-Type" content="text/css")
    title Christmas Campagin
    link(rel="stylesheet" type="text/css" href="common/css/main.css" media="all")
  body
    #wrapper
      #header
        .content-inner
          #logo
          #campaign-name
            img#campaign-title(src="common/img/campaign-title.png")

      include main-menu
      #contents
        .content-inner.card-page
          #make-card
            #editor-card
                canvas#canvas
            #toolbar-card
              ul.tab
                li(title="Test title")
                  a.tablinks.active(href='javascript:void(0)', onclick="openTab(event, 'text-part')")
                    img(src='common/img/text-ico.png')
                li(title="Test title")
                  a.tablinks(href='javascript:void(0)', onclick="openTab(event, 'background-part')")
                    img(src='common/img/background-ico.png')
                li(title="Test title")
                  a.tablinks(href='javascript:void(0)', onclick="openTab(event, 'object-part')")
                    img(src='common/img/object-ico.png')
                li(title="Test title")
                  a.tablinks(href='javascript:void(0)', onclick="openTab(event, 'submit-part')")
                    img(src='common/img/send-ico.png')
              #text-part.tabcontent(style="display: block")
                #text-style
                  label(for="font-size") Font size
                  input#font-size(type="range" name="object-size" value="100")
                  label(for="text-width") Text width
                  input#text-width(type="range" name="object-size" value="100")
                  label(for="font-family") Font Family
                  select#font-family
                    option font 1
                    option font 2
                    option font 3
                    option font 4
                    option font 5
                  label(for="text-color") Font color
                  input#text-color(type="color" name="text-color")

                label(for="card-title") Tiêu đề thiệp
                textarea#card-title(placeholder="Nhập tiêu đề thiệp")

                label(for="card-content") Nội dung thiệp
                textarea#card-content(placeholder="Nhập nội dung thiệp")
              #background-part.tabcontent
                ul
                  li(title="Test title")
                    img(src="common/img/bg-01.png" data-title-x="100" data-title-y="100" data-title-width="400" data-message-x="100" data-message-y="400" data-message-width="400")
                  li(title="Test title")
                    img(src="common/img/bg-02.png" data-title-x="100" data-title-y="100" data-title-width="400" data-message-x="100" data-message-y="400" data-message-width="400")
                  li(title="Test title")
                    img(src="common/img/bg-03.png" data-title-x="100" data-title-y="100" data-title-width="400" data-message-x="100" data-message-y="400" data-message-width="400")
                  li(title="Test title")
                    img(src="common/img/bg-01.png" data-title-x="100" data-title-y="100" data-title-width="400" data-message-x="100" data-message-y="400" data-message-width="400")
                  li(title="Test title")
                    img(src="common/img/bg-01.png" data-title-x="100" data-title-y="100" data-title-width="400" data-message-x="100" data-message-y="400" data-message-width="400")
                  li(title="Test title")
                    img(src="common/img/bg-01.png" data-title-x="100" data-title-y="100" data-title-width="400" data-message-x="100" data-message-y="400" data-message-width="400")
                  li(title="Test title")
                    img(src="common/img/bg-01.png" data-title-x="100" data-title-y="100" data-title-width="400" data-message-x="100" data-message-y="400" data-message-width="400")
              #object-part.tabcontent
                #object-size
                  input#object-range(type="range" name="object-size" min="20" max="100" value="100")
                a.group-name(href="javascript:void(0)") Santas
                ul(data-group-name="Santa")
                  li
                    img(src="common/img/tmp-00-ob01.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob02.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob03.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob04.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob05.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob06.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob07.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob08.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob09.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob10.png")
                  li(title="Test title")
                    img(src="common/img/tmp-00-ob11.png")

                a.group-name(href="javascript:void(0)") Santa
                ul(data-group-name="Noel Tree")
                  li
                    img(src="common/img/tmp-01-ob1.png")
                  li(title="Test title")
                    img(src="common/img/tmp-01-ob2.png")
                  li(title="Test title")
                    img(src="common/img/tmp-01-ob3.png")
                  li(title="Test title")
                    img(src="common/img/tmp-01-ob4.png")
                  li(title="Test title")
                    img(src="common/img/tmp-01-ob5.png")
                  li(title="Test title")
                    img(src="common/img/tmp-01-ob6.png")
                  li(title="Test title")
                    img(src="common/img/tmp-02-ob1.png")
              #submit-part.tabcontent
                ul.method-btn
                  li(title="Test title")
                    a#submit-btn(href='javascript:void(0)') Dự thi
                  li(title="Test title")
                    a#download(href='javascript:void(0)') Tải thiệp
                  li(title="Test title")
                    a#cancel-btn(href='javascript:void(0)') Hủy

          p.next-function
            a#btn-next(href="#") Hoàn thành
      #footer
        .content-inner
    script(type='text/javascript' src="common/js/jquery-2.2.1.min.js")
    script(type='text/javascript' src="common/js/jquery.jquery-ui.js")
    script(type='text/javascript' src="common/js/canvas.js")
    script(type='text/javascript' src="common/js/init.js")
      script(type='text/javascript' src="common/js/FileSaver.min.js.js")
    script(type='text/javascript').
      function openTab(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      //- (function($) {

      //- })
